version: 2.1
orbs:
  # Your orb will be automatically injected here during the pipeline.
  # Reference your orb's jobs and commands below as they will exist when built.
  orb-tools: circleci/orb-tools@12.3
  # The orb definition is intentionally not included here. It will be injected into the pipeline.
  megalinter: {}

# Use this tag to ensure test jobs always run,
# even though the downstream publish job will only run on release tags.
filters: &filters
  tags:
    only: /.*/

# Filter for dev branches
dev-filters: &dev-filters
  branches:
    only:  /^dev-v[0-9]+\.[0-9]+\.[0-9]+$/

# Filter for release tags.
release-filters: &release-filters
  branches:
    ignore: /.*/
  tags:
    only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

workflows:
  test-deploy:
    jobs:
      # Make sure to include "filters: *filters" in every test job you want to run as part of your deployment.
      # Test your orb's commands in a custom job and test your orb's jobs directly as a part of this workflow.
      - megalinter/run:
          git_pr_base_branch: << pipeline.git.branch.is_default >>
          git_pr_current_branch: << pipeline.git.branch >>
          persist_megalinter_reports: true
          context:
            - Main Context
          filters: *filters
      # The orb must be re-packed for publishing, and saved to the workspace.
      - orb-tools/pack:
          filters: *release-filters
      # The following publish is only for dev branches.
      - orb-tools/publish:
          orb_name: relativesure/megalinter
          vcs_type: << pipeline.project.type >>
          pub_type: dev
          # Ensure this job requires all test jobs and the pack job.
          requires:
            - orb-tools/pack
            - megalinter/run
          context:
            - Main Context
          filters: *dev-filters
      - orb-tools/publish:
          orb_name: relativesure/megalinter
          vcs_type: << pipeline.project.type >>
          pub_type: production
          github_token: GH_PACKAGES_TOKEN
          # Ensure this job requires all test jobs and the pack job.
          requires:
            - orb-tools/pack
            - megalinter/run
          context:
            - Main Context
          filters: *release-filters
