version: 2.1
orbs:
  # Your orb will be automatically injected here during the pipeline.
  # Reference your orb's jobs and commands below as they will exist when built.
  orb-tools: circleci/orb-tools@12.3
  # The orb definition is intentionally not included here. It will be injected into the pipeline.
  megalinter: {}

# Use this tag to ensure test jobs always run,
# even though the downstream publish job will only run on release tags.
filters: &filters
  tags:
    only: /.*/

# Filter for dev branches.
dev-filters: &dev-filters
  branches:
    only: /^dev-v[0-9]+\.[0-9]+\.[0-9]+$/

# Filter for release tags.
release-filters: &release-filters
  branches:
    ignore: /.*/
  tags:
    only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

parameters:
  resource_class:
    type: string
    default: medium
    description: |
      The resource class to use for the jobs.
      See list of resource classes here:
      https://circleci.com/docs/2.0/configuration-reference/#resource_class
  ex:
    type: executor
    default: ml_flavor_executor
    description: |
      The executor to use for the jobs.
  tag:
    type: string
    default: latest
    description: |
      Choose a specific tag of megalinter:
      https://hub.docker.com/r/oxsecurity/megalinter/tags
  flavor:
    type: enum
    default: ''
    description: |
      Choose a specific flavor of megalinter:
      https://megalinter.io/latest/flavors/
      Pull Requests are welcome to add more flavors!
    enum:
      - ''
      - c_cpp
      - ci_light
      - cupcake
      - documentation
      - dotnet
      - dotnetweb
      - formatters
      - go
      - java
      - javascript
      - php
      - python
      - ruby
      - rust
      - salesforce
      - security
      - swift
      - terraform

executors:
  ml_flavor_executor:
    docker:
      - image: oxsecurity/megalinter-ci_light:v8
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
  ml_without_flavor_executor:
    docker:
      - image: oxsecurity/megalinter:v8
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD

jobs:
  megalinter:
    executor: <<parameters.ex>>
    parallelism: 2
    steps:
      - checkout
      - megalinter/run_megalinter


workflows:
  test-deploy:
    jobs:
      - megalinter:
          name: ml_without_flavor
          ex: ml_without_flavor_executor
          filters: *filters
      - megalinter:
          name: ml_with_flavor
          ex: ml_flavor_executor
          filters: *filters
      - orb-tools/pack:
          filters: *release-filters
      - orb-tools/pack:
          name: dev-pack
          filters: *dev-filters
      - orb-tools/publish:
          name: dev-publish
          orb_name: relativesure/megalinter
          vcs_type: << pipeline.project.type >>
          pub_type: dev
          requires:
            - command-test
            - dev-pack
          context:
            - Main Context
          filters: *dev-filters
      # the following publish is for prod use
      - orb-tools/publish:
          orb_name: relativesure/megalinter
          vcs_type: << pipeline.project.type >>
          pub_type: production
          github_token: GH_PACKAGES_TOKEN
          # Ensure this job requires all test jobs and the pack job.
          requires:
            - orb-tools/pack
            - command-test
          context:
            - Main Context
          filters: *release-filters
